*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg, #99faff, #4AF);
}

/* MAIN BOX */
.container{
  width:320px;
  padding:20px;

  border-radius:35px;

  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);

  box-shadow: 0 10px 25px rgba(0,0,0,0.25);

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
}

/* HEADING */
h4{
  text-align:center;
  font-size:20px;
  color:#fff;
}

/* INPUT */
input{
  width:100%;
  padding:12px;

  border-radius:20px;
  border:2px solid transparent;

  outline:none;
  font-size:15px;
  font-weight:bold;

  transition:0.3s;
}

input:focus{
  border:2px solid #4AF;
  box-shadow:0 0 8px rgba(68,170,255,0.7);
}

/* BUTTON */
button{
  width:100%;
  padding:12px;

  border:none;
  border-radius:50px;

  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color:#fff;

  font-size:16px;
  font-weight:bold;

  cursor:pointer;
  transition:0.2s ease;
}

button:hover{
  transform: scale(1.03);
}

button:active{
  transform: scale(0.97);
}

/* LIST */
ul{
  width:100%;
  padding:0;
}

/* TASK ITEM */
li{
  list-style:none;
  width:100%;

  padding:10px 12px;
  margin:6px 0;

  border-radius:15px;
  background: #fff;

  display:flex;
  align-items:center;
  justify-content:space-between;

  transition:0.2s;
}

li:hover{
  transform: translateY(-2px);
}

/* DONE TASK */
.completed{
  text-decoration: line-through;
  color: gray;
}

/* ICONS */
.btns{
  display:flex;
  gap:10px;
}

.edit,
.delete{
  cursor:pointer;
  font-size:18px;
  transition:0.2s;
}

.edit:hover{
  transform: scale(1.2);
}

.delete:hover{
  transform: scale(1.2);
  color:red;
}